@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: black;
}

html {
  font-size: 62.5%;
  color: white;
}

a {
  color: white;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  color: white;
}

:root {
  --primary-color: #e50914;
}

.primary--btn {
  background-color: var(--primary-color);
  line-height: normal;
  padding: 0.7rem 1.7rem;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
}

.section__divider {
  border: 6px solid #222;
}

.header {
  position: absolute;
  height: 10rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.header__logo {
  display: block;
  width: 15rem;
  padding: 0 1rem;
}

.header__logo img {
  height: 100%;
  width: 100%;
}

.banner__section {
  position: relative;
  height: 100vh;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 5;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0.4) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 10;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 0rem 5rem;
}

.banner__title {
  font-size: 4rem;
  font-weight: 700;
}

.banner__subtitle {
  font-size: 2.6rem;
  font-weight: 400;
  margin: 2rem 0;
}

.membership__form {
  display: grid;
  position: relative;
}

.membership__input__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 48px 0;
}

.membership__input {
  width: 100%;
  flex-basis: 100%;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border: none;
  font-size: 1.6rem;
}

.membership__input:focus {
  outline: none;
}

.membership__btn {
  justify-self: center;
  width: 100%;
  max-width: 20rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.membership__input__message {
  flex-basis: 100%;
  text-align: start;
  margin: 1rem 0;
  color: #ffa00a;
  font-size: 1.5rem;
  content: "";
}

.membership__placeholder {
  position: absolute;
  color: #8c8c8c;
  top: 50%;
  left: 1rem;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}

.membership__input__container.on__focus .membership__placeholder {
  top: 1rem;
  font-size: 1.2rem;
}

.form__cta {
  font-size: 1.6rem;
  margin: 1rem 0;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .membership__btn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .banner__title {
    font-size: 5rem;
  }

  .banner__subtitle {
    font-size: 2rem;
  }

  .membership__btn {
    justify-self: start;
  }
}

.dropdown-container {
  width: 48%;
  color: #222;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 100%;
  max-height: 240px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 4px;
}

.recommendations::-webkit-scrollbar,
.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-item-language,
.dropdown-item-movie {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  height: 56px;
  font-size: 1.4rem;
}

.dropdown-item-language:hover,
.dropdown-item-movie:hover {
  background: #eee;
}

.dropdown-content img {
  width: 56px;
  height: auto;
  margin-right: 10px;
}

.dropdown-item-movie i,
.dropdown-item-language i {
  color: #26a400;
  margin-right: 8px;
  visibility: hidden;
}

.selected i {
  visibility: visible;
}

.dropdown-toggle {
  position: relative;
}

.dropdown-toggle i {
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 1.6rem;
  padding: 1rem;
  color: #8c8c8c;
  transform: translateY(-50%);
  cursor: pointer;
}

.dropdown-toggle i:hover {
  background-color: #eee;
}

/* recommendations */

.recommendations {
  z-index: 15;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
  gap: 24px;
  height: 100%;
  overflow-y: scroll;
  padding: 120px 0;
}

.recommendations .banner__title {
  grid-column: span 3;
}

.card {
  border: 2px solid #eee;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
